version: "3.9"

services:
  db:
    restart: always
    image: postgres:latest
    volumes:
      - ./.database/postgres/data:/var/lib/postgresql/data
    ports:
      - 5432:5432
    environment:
      - POSTGRES_PASSWORD=qwerty

  balance-api:
    build: ./
    command: ./balance-api
    ports:
      - 8000:8000
    depends_on:
      - db
    environment:
      HOST: db
      PORT: 5432
      USER: postgres
      PASSWORD: qwerty
      DBNAME: postgres
      SSLMODE: disable